:root {
    /* Couleurs */
    --color-bgPrimary: #191919;
    --color-bgAccent: #201f2e;
    --color-fontPrimary: #ffffff;
    --color-fontAccent: #0d6efd;
    --color-stroke: #0d6efd;
    --color-btn: #0d6efd;
    /* Espaces */
    --nav-spacing: 1.5rem;
    /* Taille police */
    --nav-font-size: 1rem;
    --brand-font-size: 1.5rem;
    --btn-font-size: 1rem;
}

/* ===== Police de carctère ===== */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
}

/* ===== Style appliqué à l'ensemble du contenu ===== */

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body,
button {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-fontPrimary);
    margin-top: 2rem;
    ;
}

h3 {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--color-fontAccent)
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-fontAccent)
}

h5 {
    color: var(--color-fontAccent);
    font-size: 1.4rem;
    font-weight: 700;
}

h6 {
    color: var(--color-fontPrimary);
    font-size: 0.7rem;
    font-weight: 400;
}

/* ===== Header ===== */

header {
    position: fixed;
    width: 100%;
    z-index: 900;
}

.navbar,
.navbar-brand,
.btn-contact,
.nav-link {
    font-weight: 700 !important;
}

.navbar-brand span {
    color: var(--color-fontAccent) !important;
    font-size: var(--brand-font-size);
}

.brand-highlight {
    color: var(--color-btn) !important;
}

.nav-link {
    color: var(--color-fontPrimary) !important;
    font-size: var(--nav-font-size);
}

.navbar-brand:hover {
    filter: brightness(0.8);
}

.nav-link:hover {
    filter: brightness(0.8);
}

.btn-contact {
    background-color: var(--color-btn) !important;
    border: none !important;
    color: var(--color-bgPrimary) !important;
    font-size: var(--btn-font-size);
    border-radius: 12px;
}

.btn-contact:hover {
    filter: brightness(0.8);
}

/* Toggler mobile personnalisé */
.navbar-toggler {
    background-color: var(--color-btn) !important;
    border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem var(--color-fontPrimary) !important;
}

/* ===== Particles ===== */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    /* z-index: 0; */
    /* au-dessus du canvas particles */
    width: max-content;
    margin: 0 auto;
    /* ← centre le bloc horizontalement */
}

.cta-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    transform: translateY(-20%);
    /* remonte de 10% de sa propre hauteur */
    z-index: 10;
    margin-top: 3rem;
}

.cta-image {
    display: block;
    width: 75%;
    max-width: 70vw;
    height: auto;
    margin-left: 0.8rem;
    filter: brightness(0.9);
}

#cta-btn {
    width: 45%;
    padding: 0.6rem;
    font-size: 1.2rem;
    color: var(--color-fontPrimary);
    background-color: var(--color-bgPrimary);
    border: 3px solid var(--color-btn);
    border-radius: 1rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease;
    cursor: default;
}

/* #cta-btn:hover {
    background-color: var(--color-btn);
} */

.scroll-down {
    position: absolute;
    bottom: 8rem;
    /*  ajustez selon l’espacement souhaité */
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: var(--color-btn);
    z-index: 10;
}

/* ===== aboutMe ===== */

.aboutMe {
    background-color: var(--color-bgAccent);
    width: 100%;
    height: auto;
    position: relative;
    z-index: 20;
}

.lead {
    color: var(--color-fontPrimary);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 3rem;
    line-height: 2;
    text-align: justify;
}

.text-accent {
    color: var(--color-fontAccent)
}

/* ===== skills ===== */

.skills-section {
    background-color: var(--color-bgPrimary);
    color: var(--color-fontPrimary);
    position: relative;
    z-index: 20;
}

.skill-card {
    background-color: var(--color-bgAccent);
    border-radius: 1rem;
    padding: 1.5rem;
    flex: 0 0 auto;
    text-align: center;
    min-width: 180px;
    min-height: 12rem;
    margin-top: 3rem;
    max-width: 80%;
    margin: auto;
}

.skill-card:hover {
    filter: brightness(1.4);
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
    padding-top: 1.2rem;
    cursor: help;
}

.skill-icons img {
    width: auto;
    height: 32px;
}

.skill-icons.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.skill-icons.oneline {
    padding-top: 2.5rem;
}

.icon-32 {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    padding: 0;
}

/* ===== Formation ===== */

.formation-section {
    background-color: var(--color-bgPrimary);
    color: var(--color-fontPrimary);
    position: relative;
    z-index: 20;
}

.dot {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-btn);
    border-radius: 50%;
    margin-top: 1.4rem;
}

.card {
    border: none;
    border-radius: 20px;
    background-color: var(--color-bgAccent);
}

.card-body {
    color: var(--color-fontPrimary);
    line-height: 1.6;
    text-align: justify;
    font-weight: 500;
}

.card-wBody {
    background-color: var(--color-bgPrimary);
    padding-left: 0.9rem;
}

.step-title {
    color: var(--color-fontAccent);
    font-weight: 700;
    margin-bottom: .25rem;
    padding-top: 1rem;
    line-height: 2;
}

.institution {
    font-weight: 500;
    margin-bottom: .25rem;
    color: var(--color-fontPrimary);
}

.year {
    color: var(--color-fontPrimary);
    font-size: 0.9rem;
    font-weight: 400;
}

/* ===== Portfolio ===== */

.portfolio-section {
    background-color: var(--color-bgPrimary);
    color: var(--color-fontPrimary);
    position: relative;
    z-index: 20;
}

.card-image-wrapper {
    background-color: var(--color-bgAccent);
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.project-img {
    filter: brightness(0.8);
    /* 0 = noir total, 1 = image d'origine */
    cursor: pointer;
    display: block;
    /* supprime l’espace blanc sous l’image */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-img:hover {
    filter: brightness(1);
    /* 0 = noir total, 1 = image d'origine */
}

.iconPtf {
    font-size: 24px;
}

.projets-icon1 {
    width: auto;
    height: 24px;
}

.projets-icon2 {
    width: auto;
    height: 24px;
}

.projets-icon3 {
    width: auto;
    height: 27px;
}

.card-text {
    font-size: 0.9rem;
    font-weight: 500;
    padding-top: 0.5em;
}

.badge-project {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-btn);
    color: var(--color-bgPrimary);
    font-weight: 700;
    padding: 0.5em 0.75em;
    border-radius: 0.8rem;
    min-width: 4rem;
}

#galleryCarousel .carousel-item img {
    height: 65vh;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

/* Flèches du carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(64%) sepia(93%) saturate(392%) hue-rotate(120deg) brightness(150%) contrast(85%);
    /* Exemple de filtre pour teinte verte type #19c79a */
    /* Tu peux modifier la teinte en changeant "hue-rotate(...)" ou tester sur https://codepen.io/sosuke/pen/Pjoqqp */
}

/* Croix de fermeture du modal */
.btn-close {
    filter: invert(64%) sepia(93%) saturate(392%) hue-rotate(120deg) brightness(96%) contrast(85%);
    /* Même filtre pour harmoniser avec les flèches */
}


/* ===== Contact ===== */

.contact-section {
    background-color: var(--color-bgAccent);
    color: var(--color-fontPrimary);
}

.contact-button {
    width: 25%;
    padding: 0.6rem;
    font-size: 1.2rem;
    color: var(--color-fontPrimary);
    background-color: var(--color-bgPrimary);
    border: 3px solid var(--color-btn);
    border-radius: 1rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease;
    z-index: 20;
}

.contact-button:hover {
    background-color: var(--color-btn);
}

.btn-cv {
    width: 25%;
    background-color: var(--color-btn) !important;
    border: none !important;
    color: var(--color-bgPrimary) !important;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 12px;
    height: 53.98px;
    z-index: 20;
    padding-top: 0.8rem;
}

.btn-cv:hover {
    filter: brightness(0.8);
}

/* ===== Footer ===== */
#mainFooter {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-bgPrimary);
}

/* ===== Media ===== */

/* Desktop */
@media (min-width: 992px) {
    .navbar-nav .nav-item+.nav-item {
        margin-left: var(--nav-spacing);
    }
}

/* Tablet */
@media (max-width: 991.98px) {
    .navbar-nav .nav-item+.nav-item {
        margin-top: 0.75rem;
    }
}

/* Mobile */
@media (max-width: 575.98px) {
    #cta-btn {
        font-size: 0.7rem;
        /* plus petit que la valeur par défaut */
    }

    .cta-image {
        width: 90%;
    }

    .lead {
        font-size: 1rem;
    }

    .contact-button {
        font-size: 0.7rem;
    }

    .btn-cv {
        font-size: 0.7rem;
        height: 75.58px;
    }
}