:root {
  /* Couleurs */
  --color-bgPrimary: #191919;
  --color-bgAccent: #201f2e;
  --color-fontPrimary: #ffffff;
  --color-fontAccent: #0f9874;
  --color-stroke: #0f9874;
  --color-btn: #0f9874;
}

/* ===== base ===== */

canvas {
  display: block;
  position: fixed;
}

#particles-js canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  /* index de base, juste au-dessus du fond de page */
}

/* ===== particles.js container ===== */

#particles-js {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bgPrimary);
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}