:root {
    /* Couleurs */
    --color-bgPrimary: #191919;
    --color-bgAccent: #1d1c2a;
    --color-fontPrimary: #ffffff;
    --color-fontAccent: #19c79a;
    --color-stroke: #19c79a;
    --color-btn: #19c79a;
    /* Espaces */
    --nav-spacing: 1.5rem;
    /* Taille police */
    --nav-font-size: 1rem;
    --brand-font-size: 1.5rem;
    --btn-font-size: 1rem;
}

/* ===== Police de carctère ===== */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
}


/* ===== Style appliqué à l'ensemble du contenu ===== */

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body,
button {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-fontPrimary);
    margin-top: 2rem;
    ;
}

h3 {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--color-fontAccent)
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-fontAccent)
}

/* ===== Header ===== */

header {
    position: fixed;
    width: 100%;
    z-index: 900;
}

.navbar,
.navbar-brand,
.btn-contact,
.nav-link {
    font-weight: 700 !important;
}

.navbar-brand span {
    color: var(--color-fontAccent) !important;
    font-size: var(--brand-font-size);
}

.brand-highlight {
    color: var(--color-btn) !important;
}

.nav-link {
    color: #ffffff !important;
    font-size: var(--nav-font-size);
}

.btn-contact {
    background-color: var(--color-btn) !important;
    border: none !important;
    color: #ffffff !important;
    font-size: var(--btn-font-size);
}

.btn-contact:hover {
    filter: brightness(0.9);
}

/* Toggler mobile personnalisé */
.navbar-toggler {
    background-color: var(--color-btn) !important;
    border: none !important;
}


.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem var(--color-fontPrimary) !important;
}

/* ===== Particles ===== */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 10;
    /* au-dessus du canvas particles */
    width: max-content;
    margin: 0 auto;
    /* ← centre le bloc horizontalement */

}

.cta-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    transform: translateY(-20%);
    /* remonte de 10% de sa propre hauteur */

}

.cta-image {
    display: block;
    width: 70%;
    max-width: 70vw;
    height: auto;
    margin-left: 1.3rem;
}

#cta-btn {
    width: 45%;
    padding: 0.6rem;
    font-size: 1.2rem;
    color: var(--color-fontPrimary);
    background-color: var(--color-bgPrimary);
    border: 3px solid var(--color-btn);
    border-radius: 1rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease;
}

#cta-btn:hover {
    background-color: var(--color-btn);
}

/* ===== aboutMe ===== */

.aboutMe {
    background-color: var(--color-bgAccent);
    width: 100%;
    height: auto;
    position: relative;
    z-index: 20;
    filter: brightness(1.1);
}

.lead {
    color: var(--color-fontPrimary);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 3rem;
    line-height: 2;
    text-align: justify;
}

.text-accent {
    color: var(--color-fontAccent)
}

/* ===== skills ===== */

.skills-section {
    background-color: var(--color-bgPrimary);
    color: var(--color-fontPrimary);
    position: relative;
    z-index: 20;
}

.skill-card {
    background-color: var(--color-bgAccent);
    border-radius: 1rem;
    padding: 1.5rem;
    flex: 0 0 auto;
    text-align: center;
    min-width: 180px;
    min-height: 12rem;
    margin-top: 3rem;
    max-width: 80%;
    margin: auto;
    filter: brightness(1.1);
}

.skill-card:hover {
    filter: brightness(1.4);
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
    padding-top: 1.2rem;
}

.skill-icons img {
    width: auto;
    height: 32px;
}

.skill-icons.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.skill-icons.oneline {
    padding-top: 2.5rem;
}

/* ===== Formation ===== */

.formation-section {
    background-color: var(--color-bgPrimary);
    color: var(--color-fontPrimary);
    position: relative;
    z-index: 20;
}

.dot {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-btn);
    border-radius: 50%;
    margin-top: 1.4rem;
}

.card {
    border: none;
    border-radius: 20px;
    background-color: var(--color-bgAccent);
}

.card-body {
    color: var(--color-fontPrimary);
    line-height: 1.6;
    text-align: justify;
    font-weight: 500;
}

.card-wBody {
    background-color: var(--color-bgPrimary);
    padding-left: 0.9rem;
}

.step-title {
    color: var(--color-fontAccent);
    font-weight: 700;
    margin-bottom: .25rem;
    padding-top: 1rem;
    line-height: 2;
}

.institution {
    font-weight: 500;
    margin-bottom: .25rem;
    color: var(--color-fontPrimary);
}

.year {
    color: var(--color-fontPrimary);
    font-size: 0.9rem;
    font-weight: 400;
}

/* ===== Footer ===== */
#mainFooter {
    position: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: pink;
}

/* ===== Media ===== */
/* Desktop */
@media (min-width: 992px) {
    .navbar-nav .nav-item+.nav-item {
        margin-left: var(--nav-spacing);
    }
}

/* Tablet */
@media (max-width: 991.98px) {
    .navbar-nav .nav-item+.nav-item {
        margin-top: 0.75rem;
    }
}

/* Mobile */
@media (max-width: 575.98px) {
    #cta-btn {
        font-size: 0.7rem;
        /* plus petit que la valeur par défaut */
    }

    .lead {
        font-size: 1rem;
    }
}